html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  #camera{
      height: 100%;
      width: 100%;
  }
  #CameraTrigger{
      width: 200px;
      background-color: black;
      color: white;
      font-size: 16px;
      border-radius: 30px;
      padding: 15px 20px;
      text-align: center;
      position: fixed;
      bottom: 30px;
      left: calc(50% - 100px);
  }